.slider{
    height : 20pt;
    width : 100pt;
    text-align: middle;
    /*background-color : rgba(255, 153, 0, 0.623);*/
}

.textField{
    height : 20pt;
    color: #000000;
}

#screen{
    width: 35vw;
    height: 35vw;
}

@media (max-width: 766px){
    #screen{
        width: 70vw;
        height: 70vw;
    }
}