.slider{
    height : 20pt;
    width : 100pt;
    text-align: middle;
}

.textField{
    height : 20pt;
    color: #000000;
}

.screensize{
    width: 35vw;
    height: 35vw;
}

@media (max-width: 766px){
    .screensize{
        width: 70vw;
        height: 70vw;
    }
}

.cardSize{
    padding:2px;
    font-size:15px;
}

.waiting{
    display:none;
}